.App {
  text-align: center;
  width: 500px;
  margin: 10px auto;
}

.grid {
  display: grid;
  grid-template-columns: 50% 15% 25%;
  grid-gap: 10px 10px;
  margin: 20px;
}

.full {
  grid-row: 1 / -1;
  text-align: center;
}

.link {
  cursor: pointer;
}